#about .introduction::before{
    content: '';
    position: absolute;
    width: 100%;
    height:100%;
    top: 0;
    left: 0;
    z-index: 1;
    background-color: rgba(5, 5, 5, 0.527);
}

#about .introduction .slideBg{
    height: 400%;
    animation: slideBg 10s ease 0s infinite alternate ;
}
#about .introduction .slideBg .bg1{
    background-image: url("/download (2).jpeg");
    background-size: cover;
}
#about .introduction .slideBg .bg2{
    background-image: url("/download\ \(3\).jpeg");
    background-size: cover;}
#about .introduction .slideBg .bg3{
    background-image: url("/download\ \(4\).jpeg");
    background-size: cover;}
#about .introduction .slideBg .bg4{
    background-image: url("/download\ \(5\).jpeg");
    background-size: cover;
}
@keyframes slideBg{
    0%{
        transform: translateY(0%);
    }
    33%{
        transform: translateY(-25%);
    }
    66%{
        transform: translateY(-50%);
    }
    100%{
        transform: translateY(-75%);
    }
}