#purpose .slide{
    animation: slidePurpose 25s ease-in-out infinite;
    animation-delay: 3s;
    animation-direction: alternate;
}
#events .slide{
    animation: slideEvents 30s ease-in-out infinite;
    animation-delay: 3s;
    animation-direction: alternate;
}


@keyframes slidePurpose{
    0%{
        transform: translateX(0);
    }
    20%{
        transform: translateX(0%);
    }
    40%{
        transform: translateX(-33.33333%);
    }
    60%{
        transform: translateX(-33.33333%)
    }
    80%{
        transform: translateX(-66.66666%);
    }
    100%{
        transform: translateX(-66.66666%);
    }
}

@keyframes slideEvents{
    0%{
        transform: translateX(0);
    }
    14.28%{
        transform: translateX(0%);
    }
    28.571%{
        transform: translateX(-25%);
    }
    43.74%{
        transform: translateX(-25%);
    }
    58.32%{
        transform: translateX(-50%);
    }
    72.9%{
        transform: translateX(-50%);
    }
    87.48%{
        transform: translateX(-75%);
    }
    100%{
        transform: translateX(-75%);
    }
}