#achievements{
    padding: 2rem;
}
#achievements .someAchieve{
    padding:1rem;
}
#achievements .someAchieve .mainContent{
    padding: 80px 0px;
}
#achievements .someAchieve .mainContent .heading{
    padding: 10px 20px;
    /* text-transform: uppercase; */
}
#achievements .someAchieve .mainContent .achieves{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    --childWidth : 30%;
}
#achievements .someAchieve .mainContent .achieves .achieve{
    width: var(--childWidth);
    height: auto;
    display: flex;
}
@media (max-width:730px){
    #achievements{
        padding: 1.5rem;
    }
    #achievements .someAchieve .mainContent .achieves .achieve{
        height: calc(var(--childWidth) * 0.3);
    }
}
@media (max-width:650px){
    #achievements{
        padding: 0.5rem;
    }
    #achievements .someAchieve .mainContent .achieves .achieve{
        height: auto;
    }
}

#purpose .slide{
    animation: slidePurpose 25s ease 0s infinite;
}
@keyframes slidePurpose{
    0%{
        transform: translateX(0);
    }
    33%{
        transform: translateX(-25%);
    }
    66%{
        transform: translateX(-50%);
    }
    100%{
        transform: translateX(-75%);
    }
}